.navbar {
  display: flex;
  width: 100%;
}

.collapse:not(.show) {
  display: flex!important;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
}

.nav-item {
  margin-right: 10px;
}

.nav-item .fa {
  font-size: 1rem;
}

.fa-youtube {
  margin-right: 7px;
}

.fa-solid.fa-magnifying-glass {
  font-size: 24px;
  position: absolute;
  top: 44px;
  left: 20px;
}

.form-group {
  position: relative;
}

#search {
  padding-left: 56px;
}

.hero {
  background-image: url(./bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 17vw;
}

@media only screen and (max-width: 390px) {
  .hero {
    background-image: url(./bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 170% auto;
    height: 42vw;
  }
}